/* style.css */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dunkelgrau als Hintergrundfarbe */
    color: #fff; /* Weiß für den Text */
}

header {
    background-color: #4CAF50; /* Hellgrün für den Header "Mein Blog" */
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: #fff; /* Weiß für den Text "Mein Blog" */
}

.post {
    border-bottom: 1px solid #555; /* Etwas helleres Grau für die Trennlinien */
    padding: 10px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    padding: 5px 10px;
    text-decoration: none;
    color: #fff; /* Weiß für den Text */
    border: 1px solid #555; /* Etwas helleres Grau für den Rahmen */
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #444; /* Dunkleres Grau beim Hovern */
}

.pagination .current {
    background-color: #4CAF50; /* Hellgrün für die aktuelle Seite */
    color: #fff; /* Weiß für den Text */
}
